<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtA3b8DCkV3XxgKvtnjEQ53ililJTF_Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>602169729087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tec.mx.LaLiga</string>
	<key>PROJECT_ID</key>
	<string>laligaapp-74739</string>
	<key>STORAGE_BUCKET</key>
	<string>laligaapp-74739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602169729087:ios:ae415c7e23ea6ddf9c188a</string>
</dict>
</plist>