<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAMd-tOAKdMEgSGzSIn3Z4agZ6IlssDKM</string>
	<key>GCM_SENDER_ID</key>
	<string>192311813898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tec.mx.EjemploFirebase</string>
	<key>PROJECT_ID</key>
	<string>ejemplo-firebase-85db8</string>
	<key>STORAGE_BUCKET</key>
	<string>ejemplo-firebase-85db8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192311813898:ios:32b2cca14522e0de3cbcf3</string>
</dict>
</plist>